@media screen and (max-width:700px) {
    header .container {
        display:flex;
        flex-direction: column;
    }
    .btn {
        margin-top: 5px;
        width: 300px;
        
    }
    .carrosel-filmes {
        margin-top: 1%;
    }
    .container p {
        display: none;
    }
    .container h3 {
        margin-bottom: 40px;
        font-size: 30px;
    }
    .filme-princiapl {
        background-size: 100%;
    }
}

@media screen and (min-width:1000px) {
    .descicao {
        width: 50%;

    }
}